<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <header th:fragment="myHeader" class="text-center py-4">
        <img th:src="@{/images/logo.png}" alt="PJAIT Logo" class="img-fluid" style="max-height:10vh;">
    </header>

    <footer th:fragment="myFooter" class="footer bg-light text-center py-3 fixed-bottom">
        <div>s30175 @PJAIT &copy; 2025</div>
    </footer>
</body>
</html>
