<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>View code</title>
    <link rel="stylesheet" th:href="@{/stylesheets/styles.css}">
</head>
<body>
    <header th:replace="~{fragments :: myHeader}"></header>
    <main layout:fragment="content">
        <div class="result-wrapper" th:if="${originalCode}">
            <div class="code-columns">
                <div class="code-block">
                    <h2>Original</h2>
                    <pre th:text="${originalCode}"></pre>
                </div>

                <div class="code-block">
                    <h2>Formatted</h2>
                    <pre th:text="${formattedCode}"></pre>
                </div>
            </div>
            <p><a th:href="@{/format-code}">Press to return back to main page</a></p>
        </div>
    </main>
    <footer th:replace="~{fragments :: myFooter}"></footer>
</body>
</html>